/library/
/temp/
/local/
/profiles/
/build/
/.reference/
/.test-output/
/node_modules/
*.log
.DS_Store
/.local-server/
/.server-output/

/dist/

/.server-backups/
.env
.env.*
/firebase/functions/node_modules/
/firebase/functions/lib/
/firebase-debug.log

/native/engine/common/localCfg.cmake
